<div id="dabubble" class="dabubble">
  <img src="./assets/img/dabubble.png" alt="" />
  <div class="dabubble-info">
    <div><h3>DA Bubble</h3></div>
    <div><h4>Angular | TypeScript | Firebase</h4></div>
    <div>
      <p>
        {{ "DABUBBLE.DESCRIPTION" | translate }}
      </p>
    </div>
    <div class="buttons">
      <button (click)="goToElpolloloco()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
</div>
