
.shape-hero {
  position: absolute;
  width: 100%;
  height: 971.56px;
  top: 377.6px;
  background-image: url('./../../public/assets/img/shapeheropage.png');
  background-repeat: no-repeat;
  background-position: left 0px top 32px;
  background-size: 100%  100%;
  z-index: -1;
  //display: none;
}


/* -----------------------------------------------------------about-bg */
.about-bg{
    position: absolute;
    width: 572.03px;
    height: 100%;
    
    margin-top: 750px;
    right: 0px;
    background-image: url('./../../public/assets/img/purple-shadow-R2.png');
    background-repeat: no-repeat;
    background-position: right 0px top 80px;
    background-size: 172.03px 608px;
    z-index: -1;
   
    //display: none;
  }

  /* -------------------------------------------------------skills-bg */

  .skills-bg{
    position: absolute;
    width: 428.59px;
    height: 952px;
    top: 2982.96px;
    top: 1900.96px;
    left: 0px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: -1;
  
    
    //display: none;
  }


  /* -------------------------------------------------------p-folio-bg */
  .p-folio-bg{
    position: absolute;
    width: 636px;
    height: 100%;
    top: 3280px;
    left: 0px;
   
    background-image: url('./../../public/assets/img/purple-shadow-L3.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: -1;
    
  }

  /* -----------------------------------team-feedback-bg */
  .team-feedback-bg {
    position: absolute;
    width: 428.59px;
    height: 752px;
    top: 4486px;
    top: 4500px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -300px;
    
    z-index: -1;
 
    //display: none;
  }

/* ------------------------------------------------message-bg */
   .message-bg{
    position: absolute;
    width: 747.47px;
    height: 100%;
    top: 6445px;
    top: 5320px;

    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 200px;
    background-size: 647.47px 602.79px;
    z-index: -1;
 
    //display: none;
  } 

 

  /* ------------------------responsive */
  @media (max-width: 1620px) {

  .shape-hero {
    position: absolute;
    width: 100%;
    height: 971.56px;
    top: 16px;
    top: 377.6px;
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 30px;
    background-size: 100%  100%;
    z-index: -1;
  }
}

  @media (max-width: 1440px) {

    .shape-hero {
      position: absolute;
      width: 100%;
      height: 1071.56px;
      height: 971.56px;
      top: 377.6px;
     
      background-image: url('./../../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 30px;
      background-size: 100%  100%;
      z-index: -1;
    }
    
      }
@media (max-width: 1350px){
        .message-bg{
          position: absolute;
          //width: 747.47px;
          height: 100%;
          top: 6445px;
          top: 5320px;
          
          left: 0;
        
         
          background-image: url('./../../public/assets/img/purple-shadow-L4.png');
          background-repeat: no-repeat;
          background-position: left -121px top 440px;
          background-size: 647.47px 602.79px;
          z-index: -1;
          //display: none;
        }
        .team-feedback-bg {
          position: absolute;
          width: 194px;
          height: 429px;
          width: 428.59px;
          height: 552px;
          top: 4486px;
          top: 4570px;
          right: 0px;
         
         
          background-image: url('./../../public/assets/img/green-shadow-2R.png');
          background-repeat: no-repeat;
          background-position: right 0px top -160px;
          background-size: 300px 702.79px;
          z-index: -1;
          //display: none;
        }
        .p-folio-bg{
          position: absolute;
          width: 636px;
          height: 100%;
          top: 3300px;
          left: -120px;
         
          background-image: url('./../../public/assets/img/purple-shadow-L3.png');
          background-repeat: no-repeat;
          background-position: left 0px top 0px;
          z-index: -1;
          //display: none;
        }
        .shape-hero {
          position: absolute;
          width: 100%;
          height: 971.56px;
          height: 771.56px;
          top: 377.6px;
          top: 484px;
          background-image: url('./../../public/assets/img/shapeheropage.png');
          background-repeat: no-repeat;
          background-position: left 0px top 0px;
          background-size: 100%  100%;
          z-index: -1;
          //display: none;
        }
      
  }
@media (max-width: 1098px){
    .message-bg{
      position: absolute;
      width: 547.47px;
      height: 100%;
      top: 6450px;
      top: 5327px;
      
      left: 0;
    
     
      background-image: url('./../../public/assets/img/purple-shadow-L4.png');
      background-repeat: no-repeat;
      background-position: left -121px top 680px;
      background-size: 547.47px 402.79px;
      z-index: -1;
      //display: none;
    }
  }    
 @media (max-width: 1060px) {
  .shape-hero {
    position: absolute;
    width: 100%;
    height: 1071.56px;
    height: 467.43px;
    top: 345.09px;
  
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 24px;
    background-size: 100%  100%;
    z-index: -1;
  }
  .message-bg{
    position: absolute;
    //width: 747.47px;
    height: 100%;
    top: 6445px;
    top: 5545px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 780px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 228.59px;
    height: 452px;
    top: 4486px;
    top: 4880px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 636px;
    height: 100%;
    top: 3600px;
    left: -150px;
   
    background-image: url('./../../public/assets/img/purple-shadow-L3.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: -1;
    //display: none;
  }
  
    }

@media (max-width: 980px) {
  .message-bg{
    position: absolute;
    //width: 747.47px;
    height: 100%;
    top: 6560px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 780px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 228.59px;
    height: 452px;
    top: 5890px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 277px;
    height: 343px;
    width: 377px;
    height: 500px;
    top: 4000px;
    left: 310px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
}   
@media (max-width: 940px) {
  .message-bg{
    position: absolute;
    //width: 747.47px;
    height: 100%;
    top: 6620px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 780px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 277px;
    height: 343px;
    width: 377px;
    height: 500px;
    top: 3980px;
    left: 280px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }

} 

@media (max-width: 880px) {
  .message-bg{
    position: absolute;
    //width: 747.47px;
    height: 100%;
    top: 6664px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 780px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 208.59px;
    height: 452px;
    top: 5940px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
    //display: none;
  }
} 

@media (max-width: 730px) {
  .message-bg{
    position: absolute;
    //width: 747.47px;
    height: 100%;
    top: 6190px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 800px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 208.59px;
    height: 452px;
    top: 5540px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
  
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 277px;
    height: 343px;
 
    top: 3990px;
    left: 190px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
  .skills-bg{
    position: absolute;
    width: 246.43px;
    height: 547.06px;
    top: 2100.96px;
    left: -40px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    z-index: -1;
 
  }
  .shape-hero {
    position: absolute;
    width: 100%;
    height: 268px;
    top: 450px;
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 100%  100%;
    z-index: -1;
    //display: none;
  }
} 
@media (max-width: 590px) {
  .message-bg{
    position: absolute;
    width: 400px;
    height: 100%;
    top: 6070px;
    
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -171px top 800px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 208.59px;
    height: 452px;
    top: 5420px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
  
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 277px;
    height: 343px;
 
    top: 3940px;
    left: 140px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
  .skills-bg{
    position: absolute;
    width: 246.43px;
    height: 547.06px;
    top: 2160.96px;
    left: 0px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    z-index: -1;
 
  }
} 

@media (max-width: 490px) {
  .message-bg{
    position: absolute;
    width: 320px;
    height: 100%;
    top: 6112px;
    
    left: 0;
  
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -171px top 800px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
    width: 208.59px;
    height: 452px;
    top: 5480px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 277px;
    height: 343px;
 
    top: 3990px;
    left: 48px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
} 

@media (max-width: 400px) {
  .message-bg{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 6992px;
    
    left: 0;
  
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -170px top 0px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
   
    top: 5480px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
   
    //display: none;
  }
  .skills-bg{
    position: absolute;
    width: 246.43px;
    height: 547.06px;
    top: 2100.96px;
  
    left: -102px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    z-index: -1;
 
  }
  .shape-hero {
    position: absolute;
    width: 100%;
    height: 168px;
    top: 444px;
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 40px;
    background-size: 100%  100%;
    z-index: -1;
    //display: none;
  }
} 


@media (max-width: 388px) {
  .message-bg{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 7030px;
    
    left: 0;
  
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -100px top 0px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }

  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
   
    top: 5520px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
  
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 237px;
    height: 343px;
 
    top: 3960px;
    left: 48px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
  .skills-bg{
    position: absolute;
    width: 246.43px;
    height: 547.06px;
    top: 2108.96px;
  
    left: -102px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    z-index: -1;
 
  }
} 

@media (max-width: 350px) {
  .message-bg{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 7164px;
    
    left: 0;
  
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 547.47px 402.79px;
    z-index: -1;
    //display: none;
  }
  .team-feedback-bg {
    position: absolute;
    width: 194px;
    height: 429px;
   
    top: 5620px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top -160px;
    background-size: 200px 602.79px;
    z-index: -1;
  
    //display: none;
  }
  .p-folio-bg{
    position: absolute;
    width: 217px;
    height: 343px;
 
    top: 4020px;
    left: 24px;
    transform: rotate(90deg);
   
    background-image: url('./../../public/assets/img/purple-shadow-mobile5.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    background-size: contain;
    z-index: -1;
    //display: none;
  }
  .skills-bg{
    position: absolute;
    width: 246.43px;
    height: 547.06px;
    top: 2220.96px;
  
    left: -102px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    background-size: 300px 602.79px;
    z-index: -1;
 
  }
} 
























