
.shape-hero {
  position: absolute;
  width: 100%;
  height: 971.56px;
  top: 377.6px;
  background-image: url('./../../public/assets/img/shapeheropage.png');
  background-repeat: no-repeat;
  background-position: left 0px top 32px;
  background-size: 100%  100%;
  z-index: -1;
  //display: none;
}
/* -----------------------------------------------------------about-bg */
.about-bg{
    position: absolute;
    width: 572.03px;
    height: 100%;
    
    margin-top: 750px;
    right: 0px;
    background-image: url('./../../public/assets/img/purple-shadow-R2.png');
    background-repeat: no-repeat;
    background-position: right 0px top 80px;
    background-size: 172.03px 608px;
    z-index: -1;
    //display: none;
  }

  /* -------------------------------------------------------skills-bg */

  .skills-bg{
    position: absolute;
    width: 428.59px;
    height: 100%;
    top: 2982.96px;
    top: 2000.96px;
    left: 0px;
    background-image: url('./../../public/assets/img/green-shadow-2L.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: -1;
    display: none;
  }


  /* -------------------------------------------------------p-folio-bg */
  .p-folio-bg{
    position: absolute;
    width: 636px;
    height: 100%;
    top: 3355px;
    left: 0px;
   
    background-image: url('./../../public/assets/img/purple-shadow-L3.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    z-index: -1;
    display: none;
  }

  /* -----------------------------------team-feedback-bg */
  .team-feedback-bg {
    position: absolute;
    width: 428.59px;
    height: 100%;
    top: 4486px;
    top: 4200px;
    right: 0px;
   
   
    background-image: url('./../../public/assets/img/green-shadow-2R.png');
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    
    z-index: -1;
    display: none;
  }

/* ------------------------------------------------message-bg */
   .message-bg{
    position: absolute;
    width: 747.47px;
    height: 100%;
    top: 6445px;
    top: 5320px;
    left: 0;
  
   
    background-image: url('./../../public/assets/img/purple-shadow-L4.png');
    background-repeat: no-repeat;
    background-position: left -121px top 200px;
    background-size: 647.47px 602.79px;
    z-index: -1;
    display: none;
  } 

 

  /* ------------------------responsive */
  @media (max-width: 1620px) {

  .shape-hero {
    position: absolute;
    width: 100%;
    height: 971.56px;
    top: 16px;
    top: 377.6px;
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 30px;
    background-size: 100%  100%;
    z-index: -1;
  }
}

  @media (max-width: 1440px) {

    .shape-hero {
      position: absolute;
      width: 100%;
      height: 1071.56px;
      height: 971.56px;
      top: 377.6px;
     
      background-image: url('./../../public/assets/img/shapeheropage.png');
      background-repeat: no-repeat;
      background-position: left 0px top 30px;
      background-size: 100%  100%;
      z-index: -1;
    }
    
      }
 @media (max-width: 1060px) {
  .shape-hero {
    position: absolute;
    width: 100%;
    height: 1071.56px;
    height: 467.43px;
    top: 345.09px;
  
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 24px;
    background-size: 100%  100%;
    z-index: -1;
  }
  
    }
 @media (max-width: 800px) {
      .shape-hero {
        position: absolute;
        width: 100%;
        height: 1071.56px;
        height: 967.43px;
        top: 345.09px;
      
       
        background-image: url('./../../public/assets/img/shapeheropage.png');
        background-repeat: no-repeat;
        background-position: left 0px top 112px;
        background-size: 100%  25%;
        z-index: -1;
      }
      
        }
 @media (max-width: 800px) {
  .shape-hero {
    position: absolute;
    width: 100%;
    height: 1071.56px;
    height: 967.43px;
    top: 345.09px;
  
   
    background-image: url('./../../public/assets/img/shapeheropage.png');
    background-repeat: no-repeat;
    background-position: left 0px top 150px;
    background-size: 100%  15%;
    z-index: -1;
  }
  
    }
















