.content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 6123px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }



  @media (max-width: 1350px){
    .content-wrapper {
      height: 6410px;
    }
  }

@media (max-width: 1060px){
  .content-wrapper{
    height: 6776px;
  }
}

  @media (max-width: 980px){
    .content-wrapper {
      height: 7840px;
    }
  }