.content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 6123px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 980px){
    .content-wrapper {
      height: 7840px;
    }

  }