<div id="profile" class="profile">
  <div class="profile-pic">
    <img
      class="photo-profile-bg"
      src="./assets/img/profile-shadows.png"
      alt=""
    />
    <img
      class="p-pic"
      src="./assets/img/moi1.png"
      alt=""
      width="411"
      height="448"
      loading="lazy"
    />
  </div>

  <div class="hero">
    <div class="iam-frontend">
      <h2 class="iam">{{ "PROFILE.I_AM" | translate }}</h2>
      <!-- Korrektur hier -->
      <div class="name-beruf">
        <h1 class="name">Jean Pondy</h1>
        <p class="frontend">{{ "PROFILE.FRONTEND_DEVELOPER" | translate }}</p>

        <button
          mat-fab
          extended
          class="btn-talk"
          (click)="scrollToSection('nameField')"
        >
          {{ "PROFILE.LETS_TALK" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="shape-hero"></div>
  <div class="references">
    <div class="references-line">
      <div class="line"></div>
      <img (click)="goToGithub()" src="./assets/img/github.png" alt="GitHub" />
      <img
        (click)="scrollToSection('nameField')"
        src="./assets/img/email.png"
        alt="Email"
      />
      <img
        (click)="goToLinkedin()"
        src="./assets/img/linkedin.png"
        alt="LinkedIn"
      />
      <div
        [class.active]="activeSection === 'about-me'"
        (click)="scrollToSection('nameField')"
        class="mail"
      >
        mpondolpondy&#64;gmail.com
      </div>
    </div>
    <div (click)="scrollToSection('footer')" class="scroll-down">
      {{ "PROFILE.SCROLL_DOWN" | translate }}
      <img
        class="profile-arrow-down-line"
        src="assets/img/arrow-down-line.png"
        alt=""
      />
    </div>
  </div>
</div>
