<div id="about-me" class="aboutMe-picture">
  <div class="about-me">
    <div class="about-message">
      <h2>{{ "ABOUT_ME.TITLE" | translate }}</h2>
      <p class="message">
        {{ "ABOUT_ME.INTRO" | translate }}
      </p>
    </div>

    <div class="location">
      <div>
        <img
          src="./assets/img/location.png"
          alt="{{ 'ABOUT_ME.LOCATION.ICON_ALT' | translate }}"
        />
      </div>
      <p>{{ "ABOUT_ME.LOCATION.TEXT" | translate }}</p>
    </div>
    <div class="bulb">
      <div>
        <img
          src="./assets/img/bulbdesktop.png"
          alt="{{ 'ABOUT_ME.BULB.ICON_ALT' | translate }}"
        />
      </div>
      <p>{{ "ABOUT_ME.BULB.TEXT" | translate }}</p>
    </div>
    <div class="vector">
      <img
        src="./assets/img/vector.png"
        alt="{{ 'ABOUT_ME.VECTOR.ICON_ALT' | translate }}"
      />
      <p>{{ "ABOUT_ME.VECTOR.TEXT" | translate }}</p>
    </div>
  </div>

  <div class="about-pic">
    <img class="about-me-pic" src="./assets/img/moi2.jpeg" alt="" />
    <div class="line-pic"></div>
  </div>
</div>
