body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(20, 29, 47, 1);
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;   
   
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .no-scroll {
    overflow-y: hidden;
  }



  .layout {
    display: flex;
    flex-direction: column; /* Header, Main und Footer vertikal anordnen */
    min-height: 100vh;      /* Layout füllt mindestens die gesamte Viewport-Höhe */
  }
  app-header {
    flex-shrink: 0; /* Header wird nicht gestaucht */
  }
  app-main-layout {
    flex: 1; /* Nimmt den restlichen Platz ein */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Kein Scrollen innerhalb von main */
  }
  app-footer {
    flex-shrink: 0; /* Footer bleibt in der Größe fest */
  }
  


.footer-container {
  display: flex;         
  flex-direction: column; 
  width: 100%;         
  border-top: 4px solid rgba(112, 230, 28, 1);
  flex-shrink: 0;         // Verhindert, dass der Footer schrumpft
  overflow: hidden;       // Schneidet überflüssige Inhalte ab
  justify-content: flex-end; // Footer immer unten
  //border: 1px solid tomato;
}

 

/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'),
         url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Poppins Bold */
  @font-face {
    font-family: 'Poppins';
    src: url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'),
         url('./../public/assets/fonts/poppins-v21-latin-regular.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./../public/assets/fonts/montserrat-v26-latin/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./../public/assets/fonts/montserrat-v26-latin/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* ----------------------------------------------------------------------------- */
  
  
