<div class="impressum">
  <h1>{{ "IMPRESSUM.TITLE" | translate }}</h1>

  <h2>{{ "IMPRESSUM.SUBTITLE_SECTION_5" | translate }}</h2>
  <p>
    {{ "IMPRESSUM.ADDRESS" | translate }}
  </p>

  <h2>{{ "IMPRESSUM.CONTACT" | translate }}</h2>
  <p>
    {{ "IMPRESSUM.PHONE" | translate }}<br />
    {{ "IMPRESSUM.FAX" | translate }}<br />
    {{ "IMPRESSUM.EMAIL" | translate }}
  </p>

  <p>
    {{ "IMPRESSUM.SOURCE" | translate }}
    <a href="{{ 'IMPRESSUM.SOURCE_LINK' | translate }}">
      {{ "IMPRESSUM.SOURCE_LINK" | translate }}
    </a>
  </p>
</div>
