<div id="contact" class="contact contact-bg">
  <div class="line-title">
    <div class="line"></div>
    <div class="title">
      <h2>{{ "CONTACT.TITLE" | translate }}</h2>
    </div>
  </div>
  <div class="info-contact-area">
    <div class="info">
      <h3>{{ "CONTACT.SUBTITLE" | translate }}</h3>
      <span>{{ "CONTACT.DESCRIPTION" | translate }}</span>
      <p>{{ "CONTACT.CTA" | translate }}</p>
    </div>
    <div class="contact-area">
      <div class="container">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <!-- Name -->
          <label for="name"></label>
          <input
            id="nameField"
            [(ngModel)]="contactData.name"
            #name="ngModel"
            type="text"
            name="name"
            placeholder="{{ 'CONTACT.NAME_PLACEHOLDER' | translate }}"
            required
          />
          <span *ngIf="!name.valid && name.touched" style="color: red">
            {{ "CONTACT.NAME_ERROR" | translate }}
          </span>

          <!-- Email -->
          <label for="email"></label>
          <input
            id="emailField"
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            name="email"
            placeholder="{{ 'CONTACT.EMAIL_PLACEHOLDER' | translate }}"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}"
          />
          <span *ngIf="!email.valid && email.touched" style="color: red">
            {{ "CONTACT.EMAIL_ERROR" | translate }}
          </span>

          <!-- Message -->
          <label for="message"></label>
          <textarea
            id="messageField"
            #message="ngModel"
            [(ngModel)]="contactData.message"
            name="message"
            placeholder="{{ 'CONTACT.MESSAGE_PLACEHOLDER' | translate }}"
            style="height: 200px"
            minlength="4"
            required
          ></textarea>
          <span
            *ngIf="!message.valid && message.touched"
            style="color: rgb(251, 5, 5)"
          >
            {{ "CONTACT.MESSAGE_ERROR" | translate }}
          </span>

          <!-- Privacy Policy Checkbox -->
          <div class="privacyPolicy-checkbox">
            <div>
              <input
                type="checkbox"
                id="privacyPolicy"
                name="privacyPolicy"
                [(ngModel)]="contactData.privacyPolicy"
                #privacyPolicy="ngModel"
                required
              />
            </div>
            <div>
              <label for="privacyPolicy" class="privacy-policy-text">
                {{ "CONTACT.PRIVACY_POLICY_LABEL" | translate }}
                <a routerLink="/privacy-policy" class="privacy-policy-link">
                  {{ "CONTACT.PRIVACY_POLICY_LINK" | translate }}
                </a>
                {{ "CONTACT.PRIVACY_POLICY_CONFIRMATION" | translate }}
              </label>
              <div
                *ngIf="
                  (contactForm.submitted || privacyPolicy.touched) &&
                  !contactData.privacyPolicy
                "
              >
                <span style="color: rgb(211, 5, 5)">
                  {{ "CONTACT.PRIVACY_POLICY_ERROR" | translate }}
                </span>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <input
            class="btn-submit"
            type="submit"
            [value]="'CONTACT.SUBMIT_BUTTON' | translate"
            [disabled]="!contactForm.form.valid || !contactData.privacyPolicy"
          />
        </form>

        <!-- Feedback Modal -->
        <div class="overlay" *ngIf="feedbackMessage">
          <div class="overlay-content">
            <p>{{ feedbackMessage }}</p>
            <button (click)="closeFeedback()">
              {{ "CONTACT.FEEDBACK_CLOSE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="scrollToSection('profile')" class="down-line">
    <img src="assets/img/arrow-down-line.png" alt="" />
  </div>
</div>
