<div id="el-pollo" class="el-pollo">
  <div class="el-pollo-info">
    <div><h3>El Pollo Loco</h3></div>
    <div><h4>JavaScript | HTML | CSS</h4></div>
    <div>
      <p>
        {{ "EL_POLLO_LOCO.DESCRIPTION" | translate }}
      </p>
    </div>
    <div class="buttons">
      <button (click)="goToElpolloloco()" mat-fab extended class="btn-talk1">
        Live test
      </button>
      <button (click)="goToGithub()" mat-fab extended class="btn-talk2">
        Github
      </button>
    </div>
  </div>
  <img src="./assets/img/polloloco.png" alt="" />
</div>
